*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #CBC6B9, #CBC6B9), linear-gradient(0deg, #EDECE4, #EDECE4);
    border: 10px solid #CBC6B9;
}

main{
    display: flex;
    width: 50%;
    height: 876px;
    border: 1px solid black;
}

main > div{
    width: 50%;

}

.logo{
    width: 50%;
}
.image2{
    width: 50%;
    height: 90vh;
}

span > p{
    font-family: PT Mono;
    font-size: 18px;

}

span{
    display: flex;
    gap: 10px;
}
.markenGreen{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: green;
}
/* www.origamid.com by html.to.design ❤️ FREE version - 17/02/2024, 11:52:16 GMT-3 */

.textHours{
    width: 318px;
    display: flex;
    align-items: center;
    margin-top: 60px;
   
}
.borda{
    margin: 10px 0px;
    border-bottom: 2px solid black;
    
}
.paragrafo{
    width: 70%;
    border-right: 2px solid black;
}

.phone{
    font-family: PT Mono;
    font-size: 18px;
    font-weight: 400;

    color: #988C77;
    margin-top:40px;
}

.barra{
    margin-top: 20px;
    font-size: 11em;
}
